:root{
    --main-bg-color: hsl(190, 100%, 5%);
    --main-text-color: hsl(190, 100%, 20%);
    --link-color: hsl(130, 100%, 70%);
    --link-visited-color: hsl(130, 100%, 70%);
    --link-active-color: hsl(70, 100%, 70%);
    --card-bg-color: hsl(190, 20%, 95%);
    --form-bg-color: hsl(190, 0%, 85%);

    --form-margin-left: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
label {
    font-family: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: var(--link-color);
}

a:visited {
    color: var(--link-visited-color);
}

a:active {
    color: var(--link-active-color);
}

div.main-content {
    display: flex;
    position: relative;
    width: 100%;
}

div.logo-content {
    background-image: url(johny-goerend-Oz2ZQ2j8We8-unsplash.jpg);
    width: 30%;
}

#logo-img {
    width: 20%;
}

div.form-content {
    background-color: var(--card-bg-color);
    width: 70%;
    padding: 20px 0px;
}

p.form-info {
    margin: 80px var(--form-margin-left) 40px;
    max-width: 65ch;
}

form.sign-up {
    margin-top: 20px;
    padding: 20px 0px;
    background-color: var(--form-bg-color);

    box-shadow: 3px 3px 3px hsl(0, 0%, 33%);
}

h2.form-header {
    margin-left: var(--form-margin-left);
}

div.form-row {
    display: flex;

    margin-left: var(--form-margin-left);
    margin-top: 30px;
}

button[type='submit'].sign-up {
    margin-left: var(--form-margin-left);
    margin-top: 20px;
}

p.existing-account-info {
    margin-left: var(--form-margin-left);
    margin-top: 20px;
}