:root{
    --main-bg-color: hsl(192, 100%, 5%);
    --main-text-color: hsl(190, 100%, 70%);
    --link-color: hsl(130, 100%, 70%);
    --link-visited-color: hsl(130, 100%, 70%);
    --link-active-color: hsl(70, 100%, 70%);
    --card-bg-color: hsl(190, 100%, 10%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
label {
    font-family: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: var(--link-color);
}

a:visited {
    color: var(--link-visited-color);
}

a:active {
    color: var(--link-active-color);
}

div.main-content {
    display: flex;
    position: relative;
    width: 80%;
}

div.logo-content {
    background-image: url(johny-goerend-Oz2ZQ2j8We8-unsplash.jpg);
    width: 30%;
}

#logo-img {
    width: 20%;
}

div.form-content {
    background-color: var(--card-bg-color);
    padding: 80px 40px 40px;
    width: 70%;
}