:root{
    --main-bg-color: hsl(190, 100%, 5%);
    --main-text-color: hsl(190, 75%, 15%);
    --link-color: hsl(130, 100%, 35%);
    --link-visited-color: hsl(130, 100%, 35%);
    --link-active-color: hsl(70, 100%, 70%);
    --card-bg-color: hsl(190, 20%, 93%);
    --form-bg-color: hsl(190, 0%, 98%);

    --form-margin-left: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
label {
    font-family: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: var(--link-color);
}

a:visited {
    color: var(--link-visited-color);
}

a:active {
    color: var(--link-active-color);
}

div.main-content {
    display: flex;
    width: 100%;
    height: 100vh;
}

div.logo-content {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    position:relative;
    background-image: url(johny-goerend-Oz2ZQ2j8We8-unsplash.jpg);
    background-size: cover;
    width: 30%;
}

div.logo-content img {
    filter: brightness(400%);
}

div.icon-background {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 200px;

    background-color: rgba(0, 0, 0, 0.45);
}

div.icon-background p {
    color: var(--form-bg-color);
    font-size: 42px;
    text-align: center;
}

#logo-img {
    width: 25%;
}

div.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--card-bg-color);
    width: 70%;
    padding-bottom: 150px;
}

p.form-info {
    margin: 40px var(--form-margin-left);
    max-width: 65ch;
    font-weight: bold;
}

form.sign-up {
    padding: 20px 0px;
    background-color: var(--form-bg-color);

    box-shadow: 3px 3px 3px hsl(0, 0%, 70%);
}

h2.form-header {
    margin-left: var(--form-margin-left);
}

div.form-row {
    display: flex;

    margin-left: var(--form-margin-left);
    margin-top: 30px;
}

div.input-div {
    display: flex;
    flex-direction: column;

    margin-right: 50px;
}

button[type='submit'].sign-up {
    max-width: fit-content;
    margin-left: var(--form-margin-left);
    margin-top: 20px;
    padding: 5px 10px;
}

p.existing-account-info {
    margin-left: var(--form-margin-left);
    margin-top: 20px;
    font-size: 80%;
}